.places__website-heading {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    padding-bottom: 12px;
    color: #AAAAAA;
    align-self: end;
    max-width: 460px;
    letter-spacing: 2.4px;
}

@media screen and (max-width: 743px) {
    .places__website {
        display: none;
    }
}