.footer__link {
    color: white;
    margin: 0;
    padding: 0;
    margin-right: 18px;
    text-decoration: none;
    list-style-type: none;
}

@media screen and (max-width: 320px) {
    .footer__link {
        margin-bottom: 32px;
    }
}