.footer__copyright {
    margin: 0;
    min-width: 186px;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 743px) {
    .footer__copyright {
        padding-top: 16px;
    }
}