    .places__card {
        display: grid;
        max-width: 984px;
        min-width: 320px;
        gap: 48px 40px;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 80px;
        margin: 0 auto;
        grid-template-areas: "places__card-title places__card-website" "places__card-image place__card-paragraphs";
        font-size: 18px;
        line-height: 163%;
    }
    
    .places__card:last-of-type {
        padding-bottom: 0;
    }
    
    @media screen and (max-width: 1024px) {
        .places__card {
            gap: 48px 32px;
        }
    }
    
    @media screen and (max-width: 925px) {
        .places__card {
            gap: 48px 28px;
            font-size: 16px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .places__card {
            padding-bottom: 72px;
        }
    }
    
    @media screen and (max-width: 743px) {
        .places__card {
            row-gap: 32px;
            column-gap: 0;
            padding-top: 0;
            padding-bottom: 48px;
            grid-template-columns: 1fr;
        }
    }