.cover {
    position: relative;
    margin: 0 auto;
    margin-top: 102px;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin-top: 92px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 88px;
    }
}

@media screen and (max-width: 743px) {
    .cover {
        margin-top: 64px;
    }
}